.login-page {
    min-height: 90vh;
    .mat-card {
        width: 100%;
        max-width: 400px;
        text-align: center;
    }
    .image-container {
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
        img {
            max-width: 100%;
        }
    }
    .mat-form-field {
        width: 100%; 
    }
    .button-container {
        button {
            margin: 0 10px;
            width: 150px;
        }
    }
}