.gernal-instruction-container {

    .mat-form-field {
        margin-left: 10px;
    }
    .mat-slide-toggle {
        margin: 10px 0;
    }
    .heading-container {
        padding: 15px 0;
        .title {
            color: #00688B;
            font-size: 18px;
        }
    }
}